<html>
  <head>
	{% if title %}
    <title>{{title}} - Re-Imagining Access in Bugolobi Market</title>
	{% else %}
	<title>Welcome to Re-Imagining Access in Bugolobi Market</title>
	{% endif %}
	<link rel="stylesheet" type="text/css" href="../style.css">
  </head>
  <body>
      	<div>SMS System: <a href="/index">Home</a></div>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
  </body>
</html>
